
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.freepik.com/free-photo/slices-fresh-citrus-fruits-pink-background_23-2147879644.jpg);">
  <div class="breadcrumbs">
    <%= link_to 'Home', root_path, class:'bread-button' %>  /  New
  </div>
  <div class="container">
    <h1>New Cocktail</h1>
    <div class="container">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name %>
        <%= f.input :url, label: 'Image URL' %>
        <%= f.button :submit, 'Create Cocktail', class:'form-button' %>
      <% end %>
    </div>

  </div>
</div>

