<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.url %>);">
  <div class="container">
    <h1><%= @cocktail.name %><h1>
  </div>
</div>
<div class="container grid">
  <div>
    <h1>Ingreditents List</h1>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <strong><%= Ingredient.find(dose.ingredient_id).name.upcase %></strong> - <%= dose.description %>   <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>
'.html_safe, dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>

    <%#= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class:'button'%>
    <%= link_to 'Edit Cocktail', edit_cocktail_path(@cocktail), class:'button' %>
    <%= link_to 'Home', root_path, class:'button' %>
  </div>


  <div>
    <h1>Add Ingredient</h1>
    <%= simple_form_for [@cocktail, Dose.new] do |f| %>
      <%= f.input :description, placeholder: 'More litres Please' %>
      <%= f.association :ingredient %>
      <%= f.submit %>
    <% end %>
  </div>

</div>

