<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body class="body">

    <div class="navbar fixed-top">
      <!-- <img src="https://cdn.dribbble.com/users/11789/screenshots/1877272/600x400c.png" alt="" > -->
      <%= image_tag "icon.png", alt: "CocktaiLabicon"%>
      <%= image_tag "label.png", alt: "CocktaiLablabel"%>
      <!-- <h1>COCKTAIL'AB</h1> -->
      <%= link_to 'Add Cocktail', new_cocktail_path, class: "button" %>

    </div>


    <%= yield %>


    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
